{% include 'header.html' %}
<div id="admin-goods">
  
    <h2>Товары</h2><br/><br/>
    <input type="hidden" name="name" value="{{ user }}" id="user"/>    

    <div>
      <table border="1">
        <tr>
          <th>Id</th>
          <th>Название</th>
          <th>Категория</th>
          <th>Цена</th>
          <th>Статус</th>
        </tr>  
        {% for good in content_data.good %}
          <tr id="good_{{ good.id_good }}" class="good">
            <td>{{ good.id_good }}</td>
            <td>{{ good.good_name }}</td>
            <td>{{ good.category_name }}</td>
            <td>{{ good.price|round(2, 'common') }}</td>
            <td>
              {% if good.status == 0 %}
                Удалено
              {% elseif good.status == 1 %}
                Купить
              {% elseif good.status == 2 %}
                Заказать
              {% else %}
                Ошибка
              {% endif %}  
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  <br/>
  <hr/>
  <h3>Новый товар</h3>
    <form action="/action_page.php">
      <div class="container-fluid">
        <div class="row">
          <div class="form-group col-12">
            <label for="good_name">Название товара:</label>
            <input type="text" class="form-control" id="good_name" name="good_name">
          </div>
          <div class="col-8">
            <div class="form-group">
              <label for="description">Описание:</label><br/>
              <textarea name="description" rows="10" class="form-control" id="description" name="description">
              </textarea>
            </div>            
            <div class="form-group">
              <label for="size">Размер:</label><br/>
              <textarea name="size" rows="5" class="form-control" id="size" name="size">
              </textarea>
            </div>
            <div class="checkbox">
              <fieldset>
                <legend>Материалы:</legend>
                  {% for materials in content_data['material'] %}
                    <label><input type="checkbox" name="material"> {{ materials.material_name }}</label>
                  {% endfor %}
              </fieldset>          
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="category_name">Категория товара:</label><br/>
              <select class="custom-select" id="category_name" name="category" required>
                <option value="0" disabled selected>Выберите категорию товара</option>
                {% for categories in content_data['category'] %}
                  <option value="{{ categories.id_category }}">{{ categories.category_name }}</option>
                {% endfor %}
              </select>
            </div>            
            <div class="form-group">
              <label for="collection_name">Коллекция товара:</label><br/>
              <select class="custom-select" id="collection_name" name="collection">
                <option value="0" selected>Выберите коллекцию товара</option>
                {% for collections in content_data['collection'] %}
                  <option value="{{ collections.id_collection }}">{{ collections.collection_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="status_name">Статус товара:</label><br/>
              <select class="custom-select" id="status_name" name="status" required>
                <option selected disabled>Выберите статус товара</option>
                <option value="0">Удалено</option>
                <option value="1">Купить</option>
                <option value="2">Заказать</option>
              </select>
            </div>
            <div class="form-group">
              <label for="price">Цена товара:</label>
              <input type="text" class="form-control" id="price" name="price">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Фото для загрузки:</label>
              <input type="file" id="exampleInputFile" name="files[]" multiple="multiple">
              <p class="help-block"><span class="label label-info">Note:</span> Please, Select the only images (.jpg, .jpeg, .png, .gif) to upload with the size of 100KB only.</p>
            </div>
            <button type="submit" class="btn btn-default" name="add_submit" >Создать</button>
          </div>


        </div>
      </div>
    </form>
  <br/>
  <br/>
</div>
{% include 'footer.html' %}