{% include 'header.html' %}
<div id="admin-orders">
  <h2>Заказы</h2><br/><br/>
  <input type="hidden" name="name" value="{{ user }}" id="user"/>
  <table border="1">
    <tr>
      <th>Номер</th>
      <th>Сумма</th>
      <th>Имя</th>
      <th>Эл.почта</th>
      <th>Создан</th>
      <th>Статус</th>
    </tr>
    {% for order in content_data['order'] %}
      <tr id="order_{{ order.id_order }}">
        <td>{{ order.id_order }}</td>
        <td>
          <a href="#" data="{{ order.id_order }}">
            {{ order.amount }}
          </a>
        </td>
        <td>{{ order.name }}</td>
        <td>{{ order.email }}</td>
        <td>{{ order.datetime_create|date("d.m.Y H:i:s") }}</td>
        <td>
          <div class="dropdown">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
              {{ order.order_status_name }}
            </button>
            <div class="dropdown-menu">
                {% for statuses in content_data['status'] %}
                  {% if order.order_status_name == statuses.order_status_name %}
                    <a class="dropdown-item disabled" href="#" data="{{ order.id_order }}_{{ statuses.id_order_status }}">
                      {{ statuses.order_status_name }}
                    </a>
                  {% else %}
                    <a class="dropdown-item" href="#" data="{{ order.id_order }}_{{ statuses.id_order_status }}">
                      {{ statuses.order_status_name }}
                    </a>
                  {% endif %}
                {% endfor %}
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
  <br/>
  <br/>
</div>
{% include 'footer.html' %}