{% include 'header.html' %}
<div id="admin-orders">
  <h2>Заказы</h2><br/><br/>
  <input type="hidden" name="name" value="{{ user }}" id="user"/>
  <table border="1">
    <tr>
      <th>Номер</th>
      <th>Сумма</th>
      <th>Имя</th>
      <th>Эл.почта</th>
      <th>Создан</th>
      <th>Статус</th>
    </tr>
    {% for order, orders in content_data %}
      {% for order in orders %}
        <tr>
          <td>{{ order.id_order }}</td>
          <td>{{ order.amount }}</td>
          <td>{{ order.name }}</td>
          <td>{{ order.email }}</td>
          <td>{{ order.datetime_create }}</td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                {{ order.order_status_name }}
              </button>
              <div class="dropdown-menu">
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
  <br/>
  <br/>
  <hr/>
                {% for status, statuses in content_data %}
                  {% for status in statuses %}
                    <p>{{ status.id_order_status }} {{ status.order_status_name }}</p>                  
                  {% endfor %}
                {% endfor %}
</div>
{% include 'footer.html' %}