<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script type="text/javascript" src="../public/js/jquery.js"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>
    <script type="text/javascript" src="../public/js/category.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="container">
        <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">ms. Decorator</a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="navbar-nav">
              {% for page in header %}
                <a class="nav-item nav-link" href="{{ page.url }}" link="page_{{ page.id }}">{{ page.name }}</a>
              {% endfor %}
              {% if user != "" %}
                <a class="nav-item nav-link" href="?path=user/index" id="login" data="{{ user }}">Личный кабинет {{ user }}</a>
                <a class="nav-item nav-link" href="?path=user/logout" id="logout">Выход</a>
              {% else %}
                <a class="nav-item nav-link" href="?path=user/index" id="login" data="{{ user }}">Личный кабинет</a>
              {% endif %}
            </div>
          </div>
        </nav>
        


