{% include 'header.html' %}
<div id="user-registration">
  <h2>Форма регистрации</h2>
  <br/>
  <b>{{ content_data.msg }}</b>
  <br/>
  <form method="post">
    Эл.почта: <input type="email" name="email" value=""/> <br/><br/>
    <input type="hidden" name="name" value="{{ user }}" id="user"/>
    Пароль: <input type="password" name="password"/> <br/><br/> 
    Повторите пароль: <input type="password" name="passwordConfirm"/> <br/><br/>
    <input type="submit"/>
  </form>
</div>
<br/>
<a href="?path=user/index">Войти</a>
<br/>
<hr/>
{% include '/user/advantages.html' %}
{% include 'footer.html' %}